<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Ticket summary</h3>
        </div>
        <div class="panel-body text-center">
          <p>Ticket <%= @ticket.token %></p>
          <p>Ceckin time <%= @ticket.checkin_time.strftime('%Y/%m/%d %I:%M%p') %></p>
          <p>Expected Checkout time <%= session[:checkout_time].strftime('%Y/%m/%d %I:%M%p') %></p>
          <p>License <%= @ticket.license %></p>
          <p>Vehicle Type <%= @ticket.vehicle_type %></p>
        </div>
        <div class="panel-footer">
          <%= link_to "PAY #{humanized_money_with_symbol(@ticket.total_amount)}",
              "#",
              class: "btn btn-primary btn-block" %>
        </div>
      </div>
    </div>
  </div>
</div>
